# Core team (you) owns everything by default
*       @CollinsWanjau

# Frontend team owns the frontend directory
/frontend/       @NeuroCommerce/Frontend

# Machine Learning team owns the machine learning and data analysis directories
/machine-learning/       @NeuroCommerce/Machine-Learning
/data-analysis/          @NeuroCommerce/Machine-Learning

# Web scraping could be owned by Machine Learning team or Core team, depending on its primary use
/web-scraping/           @NeuroCommerce/Machine-Learning @NeuroCommerce/Core-Team


