setuptools
click==8.1.7
google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
langchain>=0.3.1
langchain-core==0.3.15
langchain-google-genai==2.0.4
langchain-text-splitters==0.3.1
langsmith==0.1.139
pandas==2.2.3
psycopg==3.2.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.0
referencing==0.35.1
requests==2.32.3
selenium==4.26.1
setuptools==75.1.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.36
streamlit==1.39.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
